#zmmtg-root {
  background: transparent;
  pointer-events: none;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
}

#zmmtg-root #content_container {
  background: transparent !important;
  width: 100% !important;
  height: 100% !important;
  position: relative;
}

#zmmtg-root #content_container #content {
  width: 100%;
  height: 100%;
}

#zmmtg-root #content_container #content .container-preview {
  width: 100%;
  height: 100%;
  display: block;
}

.media-preview-container {
  margin: 0;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.media-preview-container .av-preview-container {
  top: inherit;
  width: 320px !important;
  height: 240px !important;
}

.media-preview-container .av-preview-container #media-preview-camera-on {
  transform: scaleX(-1);
}

.media-preview-container .media-preview-audio-mic-btn-container {
  display: flex;
  align-items: center;
}

.media-preview-container
  .media-preview-audio-mic-btn-container
  .media-preview-icon-mic-option {
  background-position-x: -272px;
}

.media-preview-container .mini-layout-body .controls {
  display: flex;
  justify-content: center;
}

#wc-footer {
  display: none;
}

#wc-loading {
  display: none;
}

.meeting-info-container {
  display: none !important;
}

.notification-manager {
  display: none;
}

#wc-container-right {
  background: transparent;
}

.chat-container {
  position: fixed !important;
  width: 300px !important;
  right: 0 !important;
  top: 25% !important;

  background: #282c34;
}

.chat-virtualized-list {
  height: 250px !important;
}

.chat-box__chat-textarea {
  background-color: #282c34;
  color: white;
}

.main-layout {
  opacity: 0;
}

.asntip {
  display: none;
}

.gallery-video-container__video-frame--active {
  border: none !important;
}

.join-dialog {
  display: none;
}

.show-tip {
  display: none;
}

.media-preview-disconnect-audio-text {
  color: white;
}

.ReactModalPortal {
  display: none;
}
